.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


h1{

    color: white;
}
.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

#bg-image {
    position: absolute; /* Position the container absolutely */
    top: 10%; /* Position the container at the top of the page */
    right: 41%; /* Position the container at the left of the page */
    width: 18%; /* Make the container the full width of the page */
    height: 25%; /* Make the container the full height of the page */
    background-image: url('image.png'); /* Set the background image */
    background-size: 30%; /* Scale the image to cover the container */
    z-index: -1; /* Send the container behind other elements on the page */
}
body {
    background-color: #35343b;
}
